
<hr><div class="row">
    <div class="col-md-4 col-md-offset-2">
      <strong>Logged in User Name:</strong>
      <%= @user.name %>
    </div>
    <div class="col-md-6">
      <strong>Email:</strong>
      <%= @user.email %>
    </div><br>
  </div>
</hr>
  <hr>
    <h3>
     <%= link_to 'Create Contact', new_contact_path %>
    </h3>
  </hr><br>
   Contact List
<br>
<hr>
  <table class="table table-hover">
    <tr class="danger" >
      <th class="col-md-3">Contact Name</th>
      <th class="col-md-3">Email</th>
      <th class="col-md-3">Phone </th>
      <th class="col-md-3">Edit </th>

    </tr>
    <% @user.contacts.each do |c| %>
      <tr  class="info">
        <td class="col-md-4">
      <%= link_to c.name, contact_path(c) %>
    </td>
    <td class="col-md-4">
      <%= c.email %>
    </td>
    <td class="col-md-4">
      <%= c.phone %>
    </td>
    <td>
      <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_contact_path(c)%>
    </td>

    </tr>
    <% end %>
  </table>

</hr>
