<hr><div class="row">

  Your Contact

      <table class="table table-hover">
        <tr class="danger" >
          <th class="col-md-3">Contact Name</th>
          <th class="col-md-6">Email</th>
          <th class="col-md-3">Phone</th>
        </tr>
        <tr  class="info">
          <td class="col-md-3">
        <%= @contact.name %>
      </td>
      <td class="col-md-6">
        <%= @contact.email %>
      </td>
      <td class="col-md-3">
        <%= @contact.phone %>
      </td>
      </tr>
    </table>
  <hr>
  List of your Activities
</hr><br>
<table class="table table-hover">
  <tr class="danger" >
    <th class="col-md-3">Activity Name</th>
    <th class="col-md-6">Description</th>
    <th class="col-md-3">Status</th>
  </tr>
  <% @contact.activities.each do |a| %>
    <tr  class="info">
      <td class="col-md-3">
    <%= link_to a.name%>
  </td>
  <td class="col-md-6">
    <%= a.description %>
  </td>
  <td class="col-md-3">
    <%= a.status %>
  </td>
  </tr>
  <% end %>
</table>


  <h3>
   New Activities:
  </h3>
  <%= form_for [@contact, @contact.activities.build] , :html => {class: 'new_contact_activity form-horizontal'} do |f| %>
      <div class="row"><legend class="col-md-4 col-md-offset-4">Create Activity:</legend></div>
      <fieldset>
          <div class="form-group">
              <%= f.label :name, 'Name*', class: 'col-md-4 control-label' %>
              <div class="col-md-5">
                  <%= f.text_field :name, class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
              <%= f.label :description, 'Description*', class: 'col-md-4 control-label' %>
              <div class="col-md-5">
                  <%= f.text_area :description, class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
              <%= f.label :status, 'Status*', class: 'col-md-4 control-label' %>
              <div class="col-md-5">
                  <%= f.select(:status, options_for_select([['New', 'New'], ['in-progress', 'in-progress'], ['won', 'won'], ['lost', 'lost']]))%>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                  <%= f.submit 'Create Activity', class: 'btn btn-success' %>
              </div>
          </div>
      </fieldset>
  <% end %>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', user_path(current_user) %>
